* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        /* Container principal */
        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            background-color: #333;
            color: #333;
            border-radius: 10px;
        }

        .user-icon img {
            border-radius: 50px;
        }
        /* Header */
        .header {
            display: flex;
            align-items: center;
            padding: 20px;
            background-color: #ccc;
            border-radius: 10px;
        }

        .header .user-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .header .user-info {
            color: black;
        }

        /* Conteúdo principal */
        .main-content {
            display: flex;
            margin-top: 20px;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        /* Seção Conta */
        .account-section {
            width: 30%;
            padding-right: 20px;
            border-right: 1px solid #ccc;
            color: black;
        }

        .account-section h3 {
            margin-bottom: 10px;
            font-size: 1.2em;
        }

        .account-section .balance {
            margin-bottom: 20px;
            font-size: 1.4em;
        }

        .account-section .options {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
        
        }

        .account-section .option {
            width: 80px;
            height: 80px;
            background-color: #333;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 0.8em;
            text-align: center;
        }

        /* Seção Meus Cartões */
        .cards-section {
            width: 70%;
            padding-left: 20px;
        }

        .cards-section h3 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.2em;
        }

        .card {
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            color: black;
            text-align: center;
        }

        .card p {
            margin-bottom: 5px;
            font-size: 1em;
        }

        .card-limit {
            margin-top: 10px;
        }